<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
  <div th:replace="fragments/layout.html :: menu"/>
  <div th:replace="fragments/layout.html :: header"/> 
  <h3>Edit Staff Page</h3>
  <form action="#" th:action="@{/admin/staff/edit/+staff.staffId}" th:object="${staff}" method="post">
    <table>
      <tbody>
        <tr>
          <td><span th:text="#{fieldLabel.staffId}"></span></td>
          <td>
            <fieldset><input type="text" th:field="*{staffId}" readonly="readonly" /></fieldset>
          </td>
          <td th:if="${#fields.hasErrors('staffId')}" th:errors="*{staffId}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.managerId}"></span></td>
         <td><select th:field="*{managerId}">
              <option th:each="selectOption : ${sidlist}" th:value="${selectOption}" th:text="${selectOption}">
                selectOption</option>
            </select></td>
          <td th:if="${#fields.hasErrors('managerId')}" th:errors="*{managerId}"></td>
        </tr>
        <tr> 
          <td><span th:text="#{fieldLabel.staffName}"></span></td>
          <td>
            <fieldset><input type="text" th:field="*{name}" /></fieldset>
          </td>
          <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr> 
          <td><span th:text="#{fieldLabel.email}"></span></td>
          <td>
            <fieldset><input type="text" th:field="*{email}" /></fieldset>
          </td>
          <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
          <td>
            <fieldset><input type="submit" value="Update" class="blcass" /></fieldset>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>

</body>

</html>